extends ../layout/main

block title
	| Венский свадебный вальс:: Музыка для первого танца молодоженов ::Слушать
block bgbody
	.music_bg.site_head
		.site_title
			span -в ритме любви-
			h1 Студия свадебного танца
		a(href="#").scrollb
			img.scroll(src="static/img/mo.png", alt="alt")
block content
	section.music.white.music_listen
		.container
			.row
				.col-md-12
					h3 Венский вальс
					.li_pages
						a(href="#") Главная 
						a(href="#") - Музыка
						span Венский вальс
					p Венский вальс - танец, который родом из Австрийского города Вена. Популярность он получил благодаря тому, что исполнялся на всех светских балах.  Узнать подробнее о венском вальсе вы сможете в разделе #[a(href="#") "Краткое описание танцев"]
					strong Внимание!Вся музыка для свадебного танца представлена в качестве ознакомления, скачать ее можно со сторонних источников.
					.listen_music
						.record
							span Венский вальс
							audio(controls)
								source(src="static/music/fox4.mp3" type="audio/ogg; codecs=vorbis")
						.record
							span Венский вальс
							audio(controls)
								source(src="static/music/fox4.mp3" type="audio/ogg; codecs=vorbis")
						.record
							span Венский вальс
							audio(controls)
								source(src="static/music/fox4.mp3" type="audio/ogg; codecs=vorbis")
						.record
							span Венский вальс
							audio(controls)
								source(src="static/music/fox4.mp3" type="audio/ogg; codecs=vorbis")
						.record
							span Венский вальс
							audio(controls)
								source(src="static/music/fox4.mp3" type="audio/ogg; codecs=vorbis")
					h4 Не нашли музыку для свадебного танца?
					p Попробуйте посмотреть в нашей группе в контакте : #[a(href="https://vk.com/weddmusic") музыка для свадебного танца]
					p Там представлен большой выбор музыкальных стилей и направлений для первого танца на любой вкус. При желании, Вы можете выбрать музыку для первого свадебного танца и скачать ее.
					.t_link_wrap
						a(href="#").t_link #музыкадлясвадебноготанца
						a(href="#").t_link #песнидлясвадебноготанца
						a(href="#").t_link #музыкадляпервоготанца




